# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
!data/raw/README.md
!data/processed/README.md

# Output
output/